[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/toma222/glfw.git

[submodule "external/VulkanMemoryAllocator"]
	path = external/glfw
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git

[submodule "external/glm"]
	path = external/glm
	url = https://github.com/icaven/glm.git
